 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1314px;
}

.u-section-1 .u-image-1 {
  height: 1140px;
  margin-top: 70px;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 700;
  margin: -613px auto 0 192px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 700;
  margin: 0 auto 0 192px;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 900;
  margin: -48px auto 0 316px;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 900;
  margin: 0 auto 0 316px;
}

.u-section-1 .u-text-5 {
  font-size: 1rem;
  background-image: none;
  font-weight: normal;
  margin: -46px auto 0 351px;
}

.u-section-1 .u-text-6 {
  font-size: 1rem;
  background-image: none;
  font-weight: normal;
  margin: 5px auto 0 351px;
}

.u-section-1 .u-text-7 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 800;
  margin: -48px auto 0 544px;
}

.u-section-1 .u-text-8 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 700;
  margin: -24px 174px 0 726px;
}

.u-section-1 .u-text-9 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 800;
  margin: -24px 9px 0 933px;
}

.u-section-1 .u-text-10 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 500;
  margin: -24px 476px 0 627px;
}

.u-section-1 .u-text-11 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 700;
  margin: -24px 627px 0 477px;
}

.u-section-1 .u-image-2 {
  width: 63px;
  height: 42px;
  margin: -19px auto 0 16px;
}

.u-section-1 .u-image-3 {
  width: 63px;
  height: 42px;
  margin: -39px 16px 0 auto;
}

.u-section-1 .u-shape-1 {
  width: 24px;
  height: 24px;
  margin: -22px 390px 0 auto;
}

.u-section-1 .u-shape-2 {
  width: 24px;
  height: 24px;
  margin: -24px 362px 0 auto;
}

.u-section-1 .u-shape-3 {
  width: 24px;
  height: 24px;
  margin: -24px 334px 0 auto;
}

.u-section-1 .u-shape-4 {
  width: 24px;
  height: 24px;
  margin: -24px 306px 0 auto;
}

.u-section-1 .u-shape-5 {
  width: 16px;
  height: 19px;
  margin: -50px auto 0 169px;
}

.u-section-1 .u-shape-6 {
  width: 16px;
  height: 19px;
  margin: 7px auto 0 169px;
}

.u-section-1 .u-shape-7 {
  width: 15px;
  height: 15px;
  margin: -16px 395px 0 auto;
}

.u-section-1 .u-shape-8 {
  width: 15px;
  height: 15px;
  margin: -15px 367px 0 auto;
}

.u-section-1 .u-shape-9 {
  width: 15px;
  height: 15px;
  margin: -14px 339px 0 auto;
}

.u-section-1 .u-shape-10 {
  width: 15px;
  height: 15px;
  margin: -15px 311px 0 auto;
}

.u-section-1 .u-shape-11 {
  width: 24px;
  height: 24px;
  background-image: none;
  margin: -19px 390px 0 auto;
}

.u-section-1 .u-text-12 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 700;
  margin: -25px 235px 0 733px;
}

.u-section-1 .u-shape-12 {
  width: 24px;
  height: 24px;
  margin: -23px 278px 0 auto;
}

.u-section-1 .u-shape-13 {
  width: 15px;
  height: 15px;
  margin: -20px 282px 0 auto;
}

.u-section-1 .u-shape-14 {
  width: 24px;
  height: 24px;
  margin: -19px 249px 0 auto;
}

.u-section-1 .u-shape-15 {
  width: 15px;
  height: 15px;
  margin: -19px 253px 0 auto;
}

.u-section-1 .u-shape-16 {
  width: 24px;
  height: 24px;
  margin: -20px 222px 0 auto;
}

.u-section-1 .u-shape-17 {
  width: 15px;
  height: 15px;
  margin: -19px 226px 0 auto;
}

.u-section-1 .u-shape-18 {
  width: 24px;
  height: 24px;
  margin: -19px 193px 0 auto;
}

.u-section-1 .u-shape-19 {
  width: 15px;
  height: 15px;
  margin: -20px 198px 0 auto;
}

.u-section-1 .u-shape-20 {
  width: 24px;
  height: 24px;
  background-image: none;
  margin: -19px 362px 0 auto;
}

.u-section-1 .u-text-13 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 700;
  margin: -25px 207px 0 761px;
}

.u-section-1 .u-shape-21 {
  width: 24px;
  height: 24px;
  background-image: none;
  margin: -23px 334px 0 auto;
}

.u-section-1 .u-text-14 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 700;
  margin: -25px 179px 0 789px;
}

.u-section-1 .u-shape-22 {
  width: 24px;
  height: 24px;
  background-image: none;
  margin: -23px 306px 0 auto;
}

.u-section-1 .u-text-15 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 700;
  margin: -25px 151px 0 817px;
}

.u-section-1 .u-shape-23 {
  width: 24px;
  height: 24px;
  background-image: none;
  margin: -23px 278px 0 auto;
}

.u-section-1 .u-text-16 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 700;
  margin: -25px 123px 0 845px;
}

.u-section-1 .u-shape-24 {
  width: 24px;
  height: 24px;
  background-image: none;
  margin: -23px 250px 0 auto;
}

.u-section-1 .u-text-17 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 700;
  margin: -25px 95px 0 873px;
}

.u-section-1 .u-shape-25 {
  width: 24px;
  height: 24px;
  background-image: none;
  margin: -23px 222px 0 auto;
}

.u-section-1 .u-text-18 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 700;
  margin: -25px 67px 0 901px;
}

.u-section-1 .u-shape-26 {
  width: 24px;
  height: 24px;
  background-image: none;
  margin: -23px 194px 0 auto;
}

.u-section-1 .u-text-19 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 700;
  margin: -25px 39px 0 929px;
}

.u-section-1 .u-shape-27 {
  width: 185px;
  height: 28px;
  background-image: none;
  margin: -20px 477px 0 auto;
}

.u-section-1 .u-text-20 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 700;
  width: 185px;
  margin: -26px 477px 0 478px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: -371px;
    margin-left: 392px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 392px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 461px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 461px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 489px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 489px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 644px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 375px;
    margin-left: 785px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 269px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 413px;
    margin-left: 727px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 563px;
    margin-left: 577px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 216px;
  }

  .u-section-1 .u-image-3 {
    margin-right: 216px;
  }

  .u-section-1 .u-shape-1 {
    margin-right: auto;
    margin-left: 526px;
  }

  .u-section-1 .u-shape-2 {
    margin-right: auto;
    margin-left: 554px;
  }

  .u-section-1 .u-shape-3 {
    margin-right: 534px;
  }

  .u-section-1 .u-shape-4 {
    margin-right: 506px;
  }

  .u-section-1 .u-shape-5 {
    margin-left: 369px;
  }

  .u-section-1 .u-shape-6 {
    margin-left: 369px;
  }

  .u-section-1 .u-shape-7 {
    margin-right: auto;
    margin-left: 530px;
  }

  .u-section-1 .u-shape-8 {
    margin-right: auto;
    margin-left: 558px;
  }

  .u-section-1 .u-shape-9 {
    margin-right: 539px;
  }

  .u-section-1 .u-shape-10 {
    margin-right: 511px;
  }

  .u-section-1 .u-shape-11 {
    margin-right: auto;
    margin-left: 526px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 426px;
    margin-left: 802px;
  }

  .u-section-1 .u-shape-12 {
    margin-right: 478px;
  }

  .u-section-1 .u-shape-13 {
    margin-right: 482px;
  }

  .u-section-1 .u-shape-14 {
    margin-right: 449px;
  }

  .u-section-1 .u-shape-15 {
    margin-right: 453px;
  }

  .u-section-1 .u-shape-16 {
    margin-right: 422px;
  }

  .u-section-1 .u-shape-17 {
    margin-right: 426px;
  }

  .u-section-1 .u-shape-18 {
    margin-right: 393px;
  }

  .u-section-1 .u-shape-19 {
    margin-right: 398px;
  }

  .u-section-1 .u-shape-20 {
    margin-right: auto;
    margin-left: 554px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 403px;
    margin-left: 825px;
  }

  .u-section-1 .u-shape-21 {
    margin-right: 534px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 380px;
    margin-left: 848px;
  }

  .u-section-1 .u-shape-22 {
    margin-right: 506px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 411px;
  }

  .u-section-1 .u-shape-23 {
    margin-right: 478px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 383px;
  }

  .u-section-1 .u-shape-24 {
    margin-right: 450px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 355px;
  }

  .u-section-1 .u-shape-25 {
    margin-right: 422px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 327px;
  }

  .u-section-1 .u-shape-26 {
    margin-right: 394px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 299px;
  }

  .u-section-1 .u-shape-27 {
    margin-right: 377px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 377px;
    margin-left: 578px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-top: -151px;
    margin-left: 612px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 612px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 620px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 620px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 641px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 641px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 754px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 531px;
    margin-left: 849px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 489px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 303px;
    margin-left: 837px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 453px;
    margin-left: 687px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 436px;
  }

  .u-section-1 .u-image-3 {
    margin-right: 436px;
  }

  .u-section-1 .u-shape-1 {
    margin-right: 390px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-2 {
    margin-right: 362px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-3 {
    margin-right: auto;
    margin-left: 362px;
  }

  .u-section-1 .u-shape-4 {
    margin-right: auto;
    margin-left: 390px;
  }

  .u-section-1 .u-shape-5 {
    margin-right: 535px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-6 {
    margin-right: 535px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-7 {
    margin-right: 395px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-8 {
    margin-right: 367px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-9 {
    margin-right: auto;
    margin-left: 366px;
  }

  .u-section-1 .u-shape-10 {
    margin-right: auto;
    margin-left: 394px;
  }

  .u-section-1 .u-shape-11 {
    margin-right: 390px;
    margin-left: auto;
  }

  .u-section-1 .u-text-12 {
    margin-right: 570px;
    margin-left: 878px;
  }

  .u-section-1 .u-shape-12 {
    margin-right: auto;
    margin-left: 418px;
  }

  .u-section-1 .u-shape-13 {
    margin-right: auto;
    margin-left: 423px;
  }

  .u-section-1 .u-shape-14 {
    margin-right: auto;
    margin-left: 447px;
  }

  .u-section-1 .u-shape-15 {
    margin-right: auto;
    margin-left: 452px;
  }

  .u-section-1 .u-shape-16 {
    margin-right: auto;
    margin-left: 474px;
  }

  .u-section-1 .u-shape-17 {
    margin-right: auto;
    margin-left: 479px;
  }

  .u-section-1 .u-shape-18 {
    margin-right: auto;
    margin-left: 503px;
  }

  .u-section-1 .u-shape-19 {
    margin-right: auto;
    margin-left: 507px;
  }

  .u-section-1 .u-shape-20 {
    margin-right: 362px;
    margin-left: auto;
  }

  .u-section-1 .u-text-13 {
    margin-right: 552px;
    margin-left: 896px;
  }

  .u-section-1 .u-shape-21 {
    margin-right: auto;
    margin-left: 362px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 534px;
    margin-left: 914px;
  }

  .u-section-1 .u-shape-22 {
    margin-right: auto;
    margin-left: 390px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 558px;
    margin-left: 890px;
  }

  .u-section-1 .u-shape-23 {
    margin-right: auto;
    margin-left: 418px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 537px;
    margin-left: 911px;
  }

  .u-section-1 .u-shape-24 {
    margin-right: auto;
    margin-left: 446px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 515px;
    margin-left: 933px;
  }

  .u-section-1 .u-shape-25 {
    margin-right: auto;
    margin-left: 474px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 547px;
  }

  .u-section-1 .u-shape-26 {
    margin-right: auto;
    margin-left: 502px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 519px;
  }

  .u-section-1 .u-shape-27 {
    margin-right: 267px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 267px;
    margin-left: 688px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 29px;
    margin-left: 744px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 744px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 750px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 750px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 766px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 766px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 844px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 658px;
    margin-left: 902px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 669px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 213px;
    margin-left: 927px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 363px;
    margin-left: 777px;
  }

  .u-section-1 .u-image-2 {
    margin-right: 461px;
    margin-left: auto;
  }

  .u-section-1 .u-image-3 {
    margin-right: auto;
    margin-left: 461px;
  }

  .u-section-1 .u-shape-3 {
    margin-right: 334px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-4 {
    margin-right: 306px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-5 {
    margin-right: 355px;
  }

  .u-section-1 .u-shape-6 {
    margin-right: 355px;
  }

  .u-section-1 .u-shape-9 {
    margin-right: 339px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-10 {
    margin-right: 311px;
    margin-left: auto;
  }

  .u-section-1 .u-text-12 {
    margin-right: 688px;
    margin-left: 940px;
  }

  .u-section-1 .u-shape-12 {
    margin-right: 278px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-13 {
    margin-right: 282px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-14 {
    margin-left: 300px;
  }

  .u-section-1 .u-shape-15 {
    margin-left: 300px;
  }

  .u-section-1 .u-shape-16 {
    margin-left: 300px;
  }

  .u-section-1 .u-shape-17 {
    margin-left: 300px;
  }

  .u-section-1 .u-shape-18 {
    margin-left: 323px;
  }

  .u-section-1 .u-shape-19 {
    margin-left: 327px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 674px;
    margin-left: 954px;
  }

  .u-section-1 .u-shape-21 {
    margin-right: 334px;
    margin-left: auto;
  }

  .u-section-1 .u-text-14 {
    margin-right: 661px;
    margin-left: 967px;
  }

  .u-section-1 .u-shape-22 {
    margin-right: 306px;
    margin-left: auto;
  }

  .u-section-1 .u-text-15 {
    margin-right: 679px;
    margin-left: 949px;
  }

  .u-section-1 .u-shape-23 {
    margin-right: 278px;
    margin-left: auto;
  }

  .u-section-1 .u-text-16 {
    margin-right: 663px;
    margin-left: 965px;
  }

  .u-section-1 .u-shape-24 {
    margin-left: 300px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 646px;
    margin-left: 982px;
  }

  .u-section-1 .u-shape-25 {
    margin-left: 300px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 670px;
    margin-left: 958px;
  }

  .u-section-1 .u-shape-26 {
    margin-left: 322px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 649px;
    margin-left: 979px;
  }

  .u-section-1 .u-shape-27 {
    margin-right: 177px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 177px;
    margin-left: 778px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-top: 229px;
    margin-left: 891px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 891px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 894px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 894px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 905px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 905px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 944px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 799px;
    margin-left: 961px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 806px;
    margin-left: 996px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 113px;
    margin-left: 1027px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 263px;
    margin-left: 877px;
  }

  .u-section-1 .u-image-2 {
    margin-right: 261px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 400px;
  }

  .u-section-1 .u-shape-1 {
    margin-right: 316px;
  }

  .u-section-1 .u-shape-2 {
    margin-right: 316px;
  }

  .u-section-1 .u-shape-3 {
    margin-right: 316px;
  }

  .u-section-1 .u-shape-5 {
    margin-right: auto;
    margin-left: 400px;
  }

  .u-section-1 .u-shape-6 {
    margin-right: auto;
    margin-left: 400px;
  }

  .u-section-1 .u-shape-7 {
    margin-right: 325px;
  }

  .u-section-1 .u-shape-8 {
    margin-right: 325px;
  }

  .u-section-1 .u-shape-9 {
    margin-right: 325px;
  }

  .u-section-1 .u-shape-11 {
    margin-right: 316px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 818px;
    margin-left: 1010px;
  }

  .u-section-1 .u-shape-14 {
    margin-right: 249px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-15 {
    margin-right: 253px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-16 {
    margin-right: 222px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-17 {
    margin-right: 226px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-18 {
    margin-right: 193px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-19 {
    margin-right: 198px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-20 {
    margin-right: 316px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 810px;
    margin-left: 1018px;
  }

  .u-section-1 .u-shape-21 {
    margin-right: 316px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 801px;
    margin-left: 1027px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 813px;
    margin-left: 1015px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 803px;
    margin-left: 1025px;
  }

  .u-section-1 .u-shape-24 {
    margin-right: 250px;
    margin-left: auto;
  }

  .u-section-1 .u-text-17 {
    margin-right: 792px;
    margin-left: 1036px;
  }

  .u-section-1 .u-shape-25 {
    margin-right: 222px;
    margin-left: auto;
  }

  .u-section-1 .u-text-18 {
    margin-right: 807px;
    margin-left: 1021px;
  }

  .u-section-1 .u-shape-26 {
    margin-right: 194px;
    margin-left: auto;
  }

  .u-section-1 .u-text-19 {
    margin-right: 794px;
    margin-left: 1034px;
  }

  .u-section-1 .u-shape-27 {
    margin-right: 77px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 77px;
    margin-left: 878px;
  }
}